
MONGODB_URI=mongodb+srv://<USER>:<PASSWORD>@<MONGOSERVER>/netwerkr?<any connection params>





NEXTAUTH_URL=http://localhost:3000/

## Generate secret with 'openssl rand -base64 32'
NEXTAUTH_SECRET=

## Twitter OAuth2.0 Client ID / Secret
TWITTER_ID=
TWITTER_SECRET=


